<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
    <ul>
      <li>Author: <%= book.author %></li>
      <li>Price: <%= book.price %></li>
      <li>Published: <%= book.published %></li>
    </ul>
  </p>

</div>
